<p-card>
  <ng-template pTemplate="title">Users</ng-template>
  <ng-template pTemplate="content">
    <p><strong>Current user:</strong> {{ currentUser }}</p>

    <p-listbox
      [options]="users"
      [(ngModel)]="currentUser"
      (onChange)="selectUser($event.value)"
      styleClass="user-list"
    />

    <p-divider />

    <div class="field-row" style="margin-top:12px">
      <input pInputText [(ngModel)]="customUser" placeholder="Custom username" style="flex:1" />
      <p-button label="Add &amp; Select" severity="secondary" (onClick)="addCustomUser()" />
    </div>

    <div style="margin-top:16px">
      <p-button label="Go to Plans" icon="pi pi-arrow-right" iconPos="right" (onClick)="goToPlans()" />
    </div>
  </ng-template>
</p-card>
