################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bb-project/.vs
/bb-project/bb-project/obj
/bb-project/bb-project.Android/obj
/bb-project/bb-project.iOS/obj
/.vs/bb-project/FileContentIndex
/bb_project.DAL/obj
/.vs
/bb-project/bb-project/bin/Debug/netstandard2.0
/bb-project/bb-project.Android/bin/Debug
/bb-project/bb-project.iOS/bin/iPhone/Debug
/bb_project.DAL/bin/Debug
*.user
/bb-project.DB/.vs/bb-project.DB
/bb-project.DB/bb-project.DB/obj/Debug
/bb-project.DB/bb-project.DB/bin/Debug
/bb_project.Authentication/bin/Debug/netstandard2.1
/bb_project.Authentication/obj
/bb-project.HomeModule/obj
/bb-project/bb-project/bin/Debug/netstandard2.1
/bb-project.HomeModule/bin/Debug/netstandard2.1
/bb-project.Modules.WorkoutAssistantModule/bin/Debug/netstandard2.0
/bb-project.Modules.WorkoutAssistantModule/obj
/obj/Debug/netstandard2.1
/bb-project.Infrastructure.Models/obj
