################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bb-project/.vs
/bb-project/bb-project/obj
/bb-project/bb-project.Android/obj
/bb-project/bb-project.iOS/obj
/.vs/bb-project/FileContentIndex
/bb_project.DAL/obj
/.vs
/bb-project/bb-project/bin/Debug/netstandard2.0
/bb-project/bb-project.Android/bin/Debug
/bb-project/bb-project.iOS/bin/iPhone/Debug
/bb_project.DAL/bin/Debug
*.user
/bb-project.DB/.vs/bb-project.DB
/bb-project.DB/bb-project.DB/obj/Debug
/bb-project.DB/bb-project.DB/bin/Debug
/bb_project.Authentication/bin/Debug/netstandard2.1
/bb_project.Authentication/obj
/bb-project.HomeModule/obj
/bb-project/bb-project/bin/Debug/netstandard2.1
/bb-project.HomeModule/bin/Debug/netstandard2.1
/bb-project.Modules.WorkoutAssistantModule/bin/Debug/netstandard2.0
/bb-project.Modules.WorkoutAssistantModule/obj
/obj/Debug/netstandard2.1
/bb-project.Infrastructure.Models/obj
/bb-project.Infrastructure.Models/bin/Debug/netstandard2.1
/bb-project.Modules.WorkoutAssistantModule/bin/Debug/netstandard2.1
/bb-project.Modules.WorkoutEditorModule/bin/Debug/netstandard2.1
/bb-project.Modules.WorkoutEditorModule/obj
/bb-project.Infrastructure.BLL/bin/Debug/netstandard2.1
/bb-project.Infrastructure.BLL/obj
/bb-project.API/.vs
/bb-project.Server/.vs
/bb-project.Server/bb-project.API/bin/Debug/net6.0
/bb-project.Server/bb-project.API/obj
/bb-project.Server/bb-project.DB/.vs/bb-project.DB
/bb-project.Server/bb-project.DB/bb-project.DB/bin/Debug
/bb-project.Server/bb-project.DB/bb-project.DB/obj/Debug
/bb-project.Server/bb-project.Infrastructure.BLL/bin/Debug/netstandard2.1
/bb-project.Server/bb-project.Infrastructure.BLL/obj
/bb-project.Server/bb_project.DAL/bin/Debug/netstandard2.1
/bb-project.Server/bb_project.DAL/obj
/bb-project.Client/.vs/bb-project
/bb-project.Client/bb-project/bb-project/bin/Debug/netstandard2.1
/bb-project.Client/bb-project/bb-project/obj/Debug/netstandard2.1
/bb-project.Client/bb-project/bb-project/obj
/bb-project.Client/bb-project/bb-project.Android/bin/Debug
/bb-project.Client/bb-project/bb-project.Android/obj
/bb-project.Client/bb-project/bb-project.iOS/obj/iPhone/Debug
/bb-project.Client/bb-project.Client.Services/bin/Debug/netstandard2.1
/bb-project.Client/bb-project.Client.Services/obj/Debug/netstandard2.1
/bb-project.Client/bb-project.Client.Services/obj
/bb-project.Client/bb-project.HomeModule/bin/Debug/netstandard2.1
/bb-project.Client/bb-project.HomeModule/obj/Debug/netstandard2.1
/bb-project.Client/bb-project.HomeModule/obj
/bb-project.Client/bb-project.Modules.WorkoutAssistantModule/bin/Debug/netstandard2.1
/bb-project.Client/bb-project.Modules.WorkoutAssistantModule/obj/Debug/netstandard2.1
/bb-project.Client/bb-project.Modules.WorkoutAssistantModule/obj
/bb-project.Client/bb-project.Modules.WorkoutEditorModule/bin/Debug/netstandard2.1
/bb-project.Client/bb-project.Modules.WorkoutEditorModule/obj/Debug/netstandard2.1
/bb-project.Client/bb-project.Modules.WorkoutEditorModule/obj
/bb-project.Client/bb_project.Authentication/bin/Debug/netstandard2.1
/bb-project.Client/bb_project.Authentication/obj
/bb-project.Client/bb-project/bb-project.iOS/bin/iPhone/Debug
/bb-project.Client/bb-project/bb-project.iOS/obj
/bb-project.Server/bb-project.API/bin/Release/net6.0
/bb-project.Server/bb-project.Infrastructure.BLL/bin/Release/netstandard2.1
/bb-project.Server/bb_project.DAL/bin/Release/netstandard2.1
/bb-project.Server/bb-project.API/Properties/ServiceDependencies/bb-project-test-api - Web Deploy
/bb-project.Server/bb-project.API/Properties/PublishProfiles
/bb-project.Infrastructure.Models/bin/Release/netstandard2.1
/bb-project.Client/.vs/ProjectEvaluation
/bb-project.Server/bb-project.DB/bb-project.DB/bb-project.DB.dbmdl
/bb-project.Server/bb-project.Server.Tests/bin/Debug/net6.0
/bb-project.Server/bb-project.Server.Tests/obj
