<p-toolbar styleClass="app-toolbar">
  <ng-template pTemplate="start">
    <span class="app-title">BB Workout Tracker</span>
  </ng-template>
  <ng-template pTemplate="end">
    <nav class="app-nav">
      <a routerLink="/users" routerLinkActive="active-link">Users</a>
      <a routerLink="/plans" routerLinkActive="active-link">Plans</a>
      <a routerLink="/exercises" routerLinkActive="active-link">Exercises</a>
      <a routerLink="/history" routerLinkActive="active-link">History</a>
    </nav>
  </ng-template>
</p-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<p-toast />

